# Hidden directories
__pycache__/
scratchpads/

# JSTOR data cannot be distributed
data/jstor-data

# novel-corpus files with restrictive terms
hermsprong.txt
walsingham.txt
glenarvon.txt
zofloya.txt
asylum.txt